<h1>New Post</h1>

<div ng-app>
<h2>{{Title}}</h2>
<p>{{Text}}</p>
<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.text_field :title, placeholder: 'Title', :'ng-model' => 'Title' %>
  </p>

  <p>
    <%= f.text_area :text, placeholder: 'Text', :'ng-model' => 'Text' %>
  </p>

  <p>
    <%= f.submit 'Submit', class: "btn btn-success" %>
  </p>
<% end %>
</div>
<%= link_to "Back", posts_path, type: "button", class: "btn btn-primary" %>